@import "material-icons/iconfont/material-icons.css";
@import "material-symbols";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black h-screen overflow-hidden;
}

.container {
  @apply flex items-center  justify-center w-[430px] h-screen;
}

.aspect-ratio {
  @apply relative bg-white shadow-lg rounded-3xl w-full h-[560px] py-5 px-6;
}

.btn_position {
  @apply absolute bottom-14 right-0 max-w-80 left-0 mx-auto;
}

/* Chrome, Safari, Edge, Opera */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number-input[type="number"] {
  -moz-appearance: textfield;
}

/* scroll bar */
.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
